[Unit]
Description=Pi FM Radio Web UI
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/python3 /opt/fm-radio/webui.py
WorkingDirectory=/opt/fm-radio
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
